<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.ssafy.fitmu.dao.ReviewDao">
	<insert id="insertReview" parameterType = "Review">
		INSERT INTO review
		VALUES (0, #{userId}, #{productId}, #{sellerId}, #{rating}, #{reviewImage}, #{content}, 0, 0, now())
	</insert>
	
	<update id="updateReview" parameterType = "Review">
		UPDATE review
		SET rating = #{rating}, content = #{content}
		WHERE review_id = #{reviewId}
	</update>
	
	<delete id="deleteReview" parameterType = "int">
		DELETE FROM review
		WHERE review_id = #{reviewId}
	</delete>
	
	<!-- 상품 기준 전체 리뷰 조회 (최신순) -->
	<select id="selectAll" parameterType="int" resultType="Review">
		SELECT * FROM review
		WHERE product_id = #{productId}
		ORDER BY created_at DESC
	</select>
	
	<select id="selectAllOrderByLike" parameterType="int" resultType="Review">
		SELECT * FROM review
		WHERE product_id = #{productId}
		ORDER BY liked DESC
	</select>
	
	<select id="selectOne" resultType = "Review" parameterType = "int">
		SELECT * FROM review
		WHERE review_id = #{reviewId}
	</select>
	
	<update id="addLike" parameterType="int">
		UPDATE review
		SET liked = liked + 1
		WHERE review_id = #{reviewId}
	</update>
	
	<update id="cancelLike" parameterType="int">
		UPDATE review
		SET liked = liked - 1
		WHERE review_id = #{reviewId}
	</update>
	
	<update id="addProductRating" parameterType="Map">
		UPDATE product
		SET rating_sum = rating_sum + ${rating}, rating_cnt = rating_cnt + 1
		WHERE product_id = #{productId}
	</update>
	
	<update id="cancelProductRating" parameterType="Map">
		UPDATE product
		SET rating_sum = rating_sum - ${rating}, rating_cnt = rating_cnt - 1
		WHERE product_id = #{productId}
	</update>
	
	<select id="selectByUser" parameterType="int" resultType = "Review">
		SELECT * FROM review
		WHERE user_id = #{userId}
	</select>
</mapper>
