<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.ssafy.fitmu.dao.SellerDao">
	<select id="getSellerByUserId" parameterType = "int" resultType = "Seller">
		SELECT * FROM seller
		WHERE user_id = #{userId}
	</select>
	<insert id="insertSeller" parameterType = "Seller">
		INSERT INTO seller
		VALUES (0, #{userId}, #{companyName}, #{representative}, #{address}, #{customerCenter}, #{email}, #{registrationNum})
	</insert>
	
	<update id="updateRole" parameterType="int">
		UPDATE user
		SET role = "s"
		WHERE user_id = #{userId}
	</update>
	
	<insert id="insertProduct" parameterType= "Product">
		INSERT INTO product
		VALUES (0, #{sellerId}, #{categoryId}, #{brand}, #{name}, #{price}, #{discountRate}, #{deliveryFee}, #{specialPrice}, now(), now(), 0, 0, #{productDetail})
	</insert>
	
	<!-- 이미 등록된 inquiry에 answer만 수정! = 답변등록 + 수정 -->
	<update id="insertAnswer" parameterType="Map">
		UPDATE inquiry
		SET answer = #{answer}
		WHERE inquiry_id = #{inquiryId}
	</update>
	
	<update id="deleteAnswer" parameterType="int">
		UPDATE inquiry
		SET answer = null
		WHERE inquiry_id = #{inquiryId}
	</update>
	
</mapper>
